.profile{
    display: flex;
}
.userprofile{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: 40px;
    margin-right: 70px;
}
.profile .userDetails{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem 0.5rem;
    position: relative;
}
.profile .userDetails .user{
    display: flex;
    justify-content: space-around;
}
.user img{
    margin: 10px;
    border-radius: 5rem;
}
.profile .userDetails .user .userBio{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.5rem;
}
.profile .userDetails .user .userBio h2{
    margin: 0;
}
.userBio small{
    color: var(--light-grey);
}
.userBio .userFollwingAnsFollowers{
    display: flex;
    justify-content: space-around;
}
.userBio .userFollwingAnsFollowers p{
    font-weight: bold;
}
.userBio .userFollwingAnsFollowers p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.profileButtons{
    position: absolute;
    right: 20px;
    top:20px;
    
}
.profileButtons button{
    position: relative;
    font-size: 18px;
    margin: 5px;
    border: none;
    background-color: transparent;
    color: var(--light-black);
}
.profileButtons button:hover{
    top:-2px;   
}
.userprofile-user{
    display: flex;
}
.userprofile-user button{
    justify-content: space-between;
    align-self: center;
    background-color: transparent;
    color: var(--light-black);
    cursor: pointer;
    font-size: 20px;
    margin: 0px 10px;
}
.userprofile-user button:hover{
    color: var(--black);
}
.userprofile-user div{
    margin: 20px;
}
.userprofile-user div h2{
    margin: 0
}
.userprofile-user div p{
    margin: 0;
    text-align: left;
    color: var(--light-grey);
}
.editContent{
    height: 600px;
}
.editContent img{
    border-radius: 5rem;
}
.selectAvatar{
    display: flex;
    justify-content: space-between;
}
.selectAvatar div{
    margin: 10px 20px;
    cursor: pointer;
}
.selectAvatar div img{
    border-radius: 5rem;
}
h2,h3{
    margin: 0;
    padding: 0;
}
.editContent label{
    align-self: flex-start;
    margin: 0px 60px;
}
.editContent label input{
    height: 5vh;
    width: 60vh;
}
.editContent label input:focus{
    outline:  none
    
}
.editContent label div{
    text-align: left;
    font-size: 12px;
    margin: 5px 0px;
    color: var(--light-black);
}
.editContent .profileImage{
    align-self: center;
    
}
.editContent .editButtons{
    display: flex;
    justify-content: flex-end;
}
.cancelButton{
position: absolute;
}
@media (min-width:768px){
    .userprofile{
        margin-left: 200px;
    }
}
@media (min-width:770px){
    .userprofile{
        margin-left: 120px;
    }
}
@media (min-width:800px){
    .userprofile{
        margin-left: 120px;
    }
}
@media (min-width:1024px){
    .userprofile{
        margin-left: 300px;
    }
}