@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --primary-color: #5e503f;
  --secondary-color: #c6ac8f;
  --black: #0a0908;
  --light-black: #22333b;
  --light-grey: #adb5bd;
}

body {

  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--light-black);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
}
a{
  text-decoration: none;
  color: var(--light-black);
  margin: 10px 0px;
}
a:hover{
  color: var(--black);
  font-weight: bold;
}
button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

input {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 7px;

}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;

}